@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  min-height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
